<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--jQuery-->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!--page controls-->
    <script src="../js/lib.js"></script>
    <script src="../js/signin.js"></script>

    <!--bootstrap-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--bootstrap-social and font-awesome-->
    <link rel="stylesheet" href="../bower_components/bootstrap-social/bootstrap-social.css"/>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css"/>

    <!--custom-->
    <link rel="stylesheet" href="../styles/login-form.css"/>

    <title>Sign in</title>
</head>
<body>
<div class="container">
    <form class="form-signin" action="login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label class="sr-only" for="email">Email</label>
        <label class="sr-only" for="password">Password</label>

        <input id="email" name="email" class="form-control" type="email" placeholder="Email address" required autofocus>
        <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>

        <div class="checkbox">
            <label><input type="checkbox" value="remember-me" checked>Remember me</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br>
        <a class="reg-link" href="/register">Create account</a>
        <hr>
        <div class="social-block">
            <div class="sb-title">You also may sign with:</div>
            <a class="btn btn-social-icon btn-github">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-social-icon btn-google-plus">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-social-icon btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
    </form>
</div>
</body>
</html>