div[role="navigation"] {
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.35);
}
ul.nav > li:hover {
    background-color: rgba(234, 235, 237, 0.59)
}

.code {
    background-color: rgb(236, 236, 236);
    padding: 0 3px;
    font-family: monospace;
}