body {
    font-family: 'Roboto', sans-serif;
}

#dummy {
    border:solid 1px black;
    height: 400px;
    background: url("/images/chart-example.png");
    background-size: cover;
}

main {
    padding-top:51px;
}

.create-task{
    color: black;
    float: right;
    padding: 0;
    border-bottom: 1px dashed black;
    border-radius: 0;
}
.create-task > .fa{
    color: green;
    transition: transform 0.55s;
}

.create-task:hover > .fa{
    transform: rotate(-180deg);
}

.create-task:hover{
    color: green;
    border-bottom-color: green;
}

.editable {
     text-decoration: underline;
     cursor: pointer;
 }

.task-current > .editable:hover{
    color: green;
}
.task-finished > .editable:hover{
    color: royalblue;
}

.btn-danger {
    float: left;
}

#task-list {
    margin-top: 30px;
}

.task-list-header {
    height: 30px;
    font-size: 0.8em;
    font-weight: bold;
}

.task-list-header > div:last-child {
    text-align: center;
}

.no-tasks {
    padding: 20px;
}

textarea {
    resize: vertical;
    max-height: 400px;
}

#chart {
    margin-top: 30px;
    margin-bottom: 50px;
}

footer {
    height: 200px;
    background-color: #d9edf7;
}

.state-change-col{
    text-align: center;
}

.state-change-col > .btn{
    padding: 0;
}

.fa-check {
    color: green;
}

.fa-undo {
    color: royalblue;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

#blank {
    width: 100%;
    height: 0;
}

.fa-exclamation-triangle {
    color: rgb(253, 133, 98);
    padding-right: 5px;
}