body {
    font-family: 'Roboto', sans-serif;
}

#projects-list {
    max-width: 900px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.55);
}

#list-header {
    margin-top: 60px;
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    font-family: monospace;
}

#headers {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#date-header, #title-header {
    line-height: 34px;
}

.project {
    cursor: pointer;
    min-height: 86px;
    border-bottom: 1px solid black;
}

.project:first-child {
    border-top: 1px solid black;
}
.project:last-child {
    border-bottom: none;
}

.project:hover {
    background-color: #d9edf7;
}

.last-modified {
    padding-top:8px;
}

.project-title {
    padding-top: 3px;
    font-size: 1.4em;
    font-weight: bolder;
}

.stat {
    text-decoration: underline;
}

.description {
    padding-top: 20px;
}

.info > .btn {
    border: none;
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
}

.info > .btn:hover {
    background-color: transparent;
    color: rgb(0, 128, 0);
}

#new-project {
    text-align: center;
    cursor: pointer;
}
#new-project .btn {
    border-radius: 24px 24px 24px 24px;
}
#new-project > .fa-plus-circle {
    color: green;
}

@media (max-width: 992px) {
    #new-project {
        margin-left: -18px;
    }
}

@media (max-width: 694px) {
    #new-project {
        margin-left: -64px;
    }
    #date-header {
        line-height: normal;
    }
}

.modal-dialog {
    margin-top: 90px;
}

/*members modal*/
#membersModal .btn-block {
    margin-top: 20px;
}

#membersContainer {
    max-height: 400px;
    overflow-y: auto;
}

.ava-field {
    height: 75px;
    width: 75px;
}

.ava-field > img {
    height: 100%;
    width: 100%;
}

.member {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 7px 5px -8px rgba(0,0,0,0.5);
}

.member .close {
    visibility: hidden;
    margin-top: -10px;
    margin-right: -10px;
}
.member:hover .close {
    visibility: visible;
}
.role-field {
    cursor: pointer;
}
.role-field:hover {
    text-decoration: underline;
}

#newMember {
    display: none;
}
