body {
    font-family: 'Roboto', sans-serif;
}

#projects-list {
    max-width: 900px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.55);
}

#list-header {
    margin-top: 60px;
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    font-family: monospace;
}

#col-headers {
    margin-top: 20px;
    margin-bottom: 10px;
}

#date-header {
    margin-left: 10px;
    width: 120px;
    float: left;
    font-weight: bold;
}

#title-header {
    margin-left: 40px;
    float: left;
    font-weight: bold;
}

.project:first-child {
    border-top: 1px solid black;
}

.project {
    cursor: pointer;
    min-height: 86px;
    border-bottom: 1px solid black;
}

.project:hover {
    background-color: #d9edf7;
}

.project-title {
    padding-top: 3px;
    font-size: 1.4em;
    font-weight: bolder;
}

.stat {
    text-decoration: underline;
}

.description {
    padding-top: 25px;
}
