doctype html
html
    head
        include components/common-includes.jade
        //roboto
        link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
        //custom
        link(rel="stylesheet" href="/styles/current-project.css")
        script(src="/js/lib.js")
        script(src="/js/current-project/current-project.js")
        title Project view
    body
        include components/navbar.jade
        main.container
            h1 #{projectTitle}
            .row
                .col-xs-12
                    if tasks
                        #task-list
                            include components/task-list.jade
                        h3.chart-heading Total elapsed time
                        #chart
                            include components/visualization.jade
                    else
                        .panel.panel-primary
                            .panel-heading
                                h4 No tasks yet
                            .panel-body
                                | This project looks empty.
                                .btn.btn-primary.create-task(type="button" data-toggle="modal" data-target="#newTaskModal") Add first task.
        //-modal windows
        include components/newTaskModal.jade
        include components/timeSpentModal.jade
        include components/editTaskModal.jade
