doctype html
html
    head
        include components/common-includes.jade
        //roboto
        link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
        //custom
        link(rel="stylesheet" href="/styles/current-project.css")
        script(src="/js/current-project.js")
        title Project view
    body
        include components/navbar.jade
        main.container
            h1 #{projectTitle}
            .row
                .col-xs-12
                    if tasks
                        #task-list
                            include components/task-list.jade
                        #chart
                            include components/chart-carousel.jade
                    else
                        .panel.panel-primary
                            .panel-heading
                                h4 No tasks yet
                            .panel-body
                                | This project looks empty.
                                .btn.btn-primary.create-task(type="button" data-toggle="modal" data-target="#newTaskModal") Add first task.
        //-add task modal
        #newTaskModal.modal.fade(tabindex="-1" role="dialog" aria-labelleby="newTaskModalLabel")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
                        h4#newTaskModalLabel.modal-title New task
                    form
                        .modal-body
                            .form-group
                                label(for="taskTitle") Task title
                                input#taskTitle.form-control(type="text" placeholder="Enter the title" required)
                            .form-group
                                label(for="taskDescription") Description
                                textarea#taskDescription.form-control(rows="5" placeholder="Add some description...")
                            .form-group
                                label(for="taskPriority") Priority
                                input#taskPriority.form-control(type="number" min="1" max="5" step="1" value="3" required)
                        .modal-footer
                            button.btn.btn-default(type="button" data-dismiss="modal") Cancel
                            button.btn.btn-primary(type="button" onclick="addTask()") Save

        //- add timeSpent modal
        #timeSpentModal.modal.fade(tabindex="-1" role="dialog" aria-labelleby="timeSpentModalLabel")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
                        h4#timeSpentModalLabel.modal-title Add time spent
                    form
                        .modal-body
                            .form-group
                                .bs-callout.bs-callout-info
                                    h4 Syntax example
                                    p For track your time spent use the following syntax:&nbsp;
                                        |"1w 3d 2h 5m" or just one of the components like&nbsp;
                                        span.code "5h"
                                    p You also use the minus sign to fix incorrect tracked earlier time e.g.&nbsp;
                                        span.code "-1h"
                                    p
                                        b NB!
                                        |&nbsp;1d equals to 8h
                                label(for="timeSpentInput") Time spent&nbsp;
                                input#timeSpentInput.form-control(type="text" placeholder='e.g. "5h 30m"')
                                #blank


                        .modal-footer
                            button.btn.btn-default(type="button" data-dismiss="modal") Cancel
                            button.btn.btn-primary#timeSpentModalSubmit(type="button" onclick="addTimeSpent()") Save

        footer.container-fluid
            | my footer here