doctype html
html
    head
        //roboto
        link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
        //font-awesome
        link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //jquery
        script(src="/bower_components/jquery/dist/jquery.min.js")
        //bootstrap
        link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        //custom
        link(rel="stylesheet" href="/styles/projects.css")
        script(src="/js/projects.js")
        title List of projects

    body
        //top-nav-menu
        include components/top-nav-menu.jade
        //list of projects header
        div#projects-list.container
            div.row
                div#list-header List of your projects

            div#col-headers.row
                div#date-header Date
                div#title-header Title

            //main content
            div.col-md-12
                div.project(onclick="showProject(this)")
                    div.project-title
                        | Some project title
                        span.glyphicon.glyphicon-arrow-right.goto-button

                    div.description
                        //description is hidden by default. Show when click prev block
                        div.row.info
                            div.col-md-2 tasks: 38
                            div.col-md-2 completed: 6
                            div.col-md-5 time spent: 3m 21d 10h
                            div.col-md-3 members: 5

                        div.row.controls
                            div.del.col-md-1
                                i.fa.fa-trash
                            div.share
                                i.fa.fa-eye
                            div.group
                                i.fa.fa-group