meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
// jQuery
script(src="/bower_components/jquery/dist/jquery.min.js")
// bootstrap
link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
//font-awesome
link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css")

link(rel="stylesheet" href="styles/all.css")