//social-buttons
.social-block
    .sb-title #{sb_title}

    a.btn.btn-social-icon.btn-github
        i.fa.fa-github

    a.btn.btn-social-icon.btn-google-plus
        i.fa.fa-google-plus

    a.btn.btn-social-icon.btn-facebook
        i.fa.fa-facebook

    a.btn.btn-social-icon.btn-twitter
        i.fa.fa-twitter

    a.btn.btn-social-icon.btn-linkedin
        i.fa.fa-linkedin
