.panel.panel-default.opened-tasks-panel
    .panel-heading
        a.accordion-toggle(data-toggle="collapse" data-target="#collapseOpened" href="#")
            .panel-title
                h4 Tasks in progress
    #collapseOpened.panel-collapse.collapse.in
        ul.list-group
            li.list-group-item Task1
            li.list-group-item Task2
            li.list-group-item Task3
.panel.panel-default.closed-tasks-panel
    .panel-heading
        a.accordion-toggle(data-toggle="collapse" data-target="#collapseClosed" href="#")
            .panel-title
                h4 Tasks in progress
    #collapseClosed.panel-collapse.collapse.in
        ul.list-group
            li.list-group-item Task1
            li.list-group-item Task2
            li.list-group-item Task3