#timeSpentModal.modal.fade(tabindex="-1" role="dialog" aria-labelleby="timeSpentModalLabel")
   .modal-dialog
      .modal-content
         .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
            h4#timeSpentModalLabel.modal-title Add time spent
         form
            .modal-body
               .form-group
                  .bs-callout.bs-callout-info
                     h4 Syntax example
                     p To track your time use the following syntax&nbsp;
                        span.code "1w 3d 2h 5m"
                        |&nbsp;or just one of these components like&nbsp;
                        span.code "5h"
                     p You can also use the minus sign to fix incorrectly tracked earlier time, e.g.&nbsp;
                        span.code "-1h"
                     p
                        b NB!
                        |&nbsp;
                        span.code "1d"
                        |&nbsp;equals to&nbsp;
                        span.code "8h"
                  label(for="timeSpentInput") Time spent&nbsp;
                  input#timeSpentInput.form-control(type="text" placeholder='Example: 2h 30m')
                  #blank
            .modal-footer
               button.btn.btn-default(type="button" data-dismiss="modal") Cancel
               button.btn.btn-primary#timeSpentModalSubmit(type="submit") Save