link(rel="stylesheet" type='text/css' href='/bower_components/vis/dist/vis.min.css')
script(src='/bower_components/moment/min/moment.min.js')
script(src='/bower_components/vis/dist/vis.min.js')
script(src='/js/current-project/visualisation.js')

.ajax-loader
#visualization